.App {
position: relative;
}


.scroll{
    position: relative;
    height: 150vh;
}

.scrollSubCont{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 15rem;

}

.scrollSub{
    
    background-color: lightblue;
    height: 7rem;
    width: 5rem;
   
}
.scrollheadCont{
    position: absolute;
    top: 20%;
    left: 50%;
    height: 15rem;
}

.scrollhead{
    
background-color: orange;
height: 7rem;
width: 5rem;
}
